<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Hello World</title>
    <!--
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>-->

    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    <link
    rel="stylesheet"
    href="https://unpkg.com/@shopify/polaris@4.20.0/styles.min.css"
  />


  
  </head>
  <body>
    <div id="app"></div>
    <!-- <script>var exports = {}; var require = ()=>React;</script>-->
    <script type="text/babel" >
    import React from 'react';
import ReactDOM from 'react-dom';
import '@shopify/polaris/styles.css';


import enTranslations from '@shopify/polaris/locales/en.json';
import {AppProvider, Page, Card, Button} from '@shopify/polaris';

ReactDOM.render(
  <AppProvider i18n={enTranslations}>
    <Page title="Example app">
      <Card sectioned>
        <Button onClick={() => alert('Button clicked!')}>Example button</Button>
      </Card>
    </Page>
  </AppProvider>,
  document.querySelector('#app'),
);

    </script>

  </body>
</html>