<!DOCTYPE html>
<html>
  <head>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
    <script crossorigin src="https://unpkg.com/@shopify/polaris@4.20.0//index.js" type="text/babel"></script>
    <script crossorigin src="https://unpkg.com/@shopify/polaris@4.20.0/locales/en.json" type="text/babel"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@shopify/polaris@4.20.0/styles.min.css"
    />
  </head>
  <body>
    <div id="app"></div>

    
    <script type="text/babel">
     
      

      ReactDOM.render(
        <AppProvider i18n={enTranslations}>
          <Page title="Example app">
            <Card sectioned>
              <Button onClick={() => alert('Button clicked!')}>Example button</Button>
            </Card>
          </Page>
        </AppProvider>,
        document.querySelector('#app'),
      );
     
    </script>
  </body>
</html>