<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@shopify/polaris@4.20.0/styles.min.css"
    />
  </head>
  <body>
    <div id="app"></div>

    
    <script type="text/jsx">
      import enTranslations from 'https://unpkg.com/browse/@shopify/polaris@4.20.0/locales/en.json';
      import {AppProvider, Page, Card, Button} from 'https://unpkg.com/browse/@shopify/polaris@4.20.0';

      ReactDOM.render(
        <AppProvider i18n={enTranslations}>
          <Page title="Example app">
            <Card sectioned>
              <Button onClick={() => alert('Button clicked!')}>Example button</Button>
            </Card>
          </Page>
        </AppProvider>,
        document.querySelector('#app'),
      );
     
    </script>
  </body>
</html>