<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Top</title>
  <script src="https://unpkg.com/@shopify/app-bridge"></script>
  <link
    rel="stylesheet"
    href="https://unpkg.com/@shopify/polaris@4.14.0/styles.min.css"
  />
  <!-- My own i18n script -->
  <script src="/i18n.js"></script>
</head>
<body>

  <script>
    // https://shopify.dev/tools/app-bridge/getting-started    
    var AppBridge = window['app-bridge'];
    var createApp = AppBridge.default;
    // App instance
    var app = createApp({
      apiKey: '<%= api_key %>',
      shopOrigin: '<%= shop %>'
    });
    // Create title sub menu
    /*var actions = AppBridge.actions;
    var TitleBar = actions.TitleBar;
    var Button = actions.Button;
    var Redirect = actions.Redirect;
    // Add event
    var breadcrumb = Button.create(app, { label: LANG.breadcrumb['<%= locale %>'] });
    breadcrumb.subscribe(Button.Action.CLICK, function() {
      app.dispatch(Redirect.toApp({ path: '/auth?shop=<%= shop %>' }));
    });
    var titleBarOptions = {
      title: LANG.top.title['<%= locale %>'],
      breadcrumbs: breadcrumb
    };
    var myTitleBar = TitleBar.create(app, titleBarOptions);*/
  </script>

<!-- https://polaris.shopify.com/components/forms/radio-button#navigation -->

  <div class="Polaris-Stack Polaris-Stack--vertical">
    <div class="Polaris-Stack__Item">
      <div><label class="Polaris-Choice" for="disabled"><span class="Polaris-Choice__Control"><span class="Polaris-RadioButton"><input id="dynamic" name="javascript" type="radio" class="Polaris-RadioButton__Input" aria-describedby="disabledHelpText" value="" checked=""><span class="Polaris-RadioButton__Backdrop"></span><span class="Polaris-RadioButton__Icon"></span></span></span><span class="Polaris-Choice__Label">JavaScriptを動的に埋め込む</span></label>
        <div class="Polaris-Choice__Descriptions">
          <div class="Polaris-Choice__HelpText" id="dynamicHelpText">テーマのコードを編集せずに税金を反映できます。但し、表示が少し遅くなります。</div>
        </div>
      </div>
    </div>
    <div class="Polaris-Stack__Item">
      <div><label class="Polaris-Choice" for="optional"><span class="Polaris-Choice__Control"><span class="Polaris-RadioButton"><input id="static" name="javascript" type="radio" class="Polaris-RadioButton__Input" aria-describedby="optionalHelpText" value=""><span class="Polaris-RadioButton__Backdrop"></span><span class="Polaris-RadioButton__Icon"></span></span></span><span class="Polaris-Choice__Label"> JavaScriptをヘッダに埋め込む</span></label>
        <div class="Polaris-Choice__Descriptions">
          <div class="Polaris-Choice__HelpText" id="staticlHelpText">テーマを以下のように編集して税金を反映します。表示が早くなりますが、テーマごとに編集が必要です。<br/>
            &gt;script id="ProductTaxReflectionApp"&lt;
              var s = document.createElement('script');
                 s.type = 'text/javascript';
                 s.async = false;
                 s.src = "https:\/\/shopify-product-tax.herokuapp.com\/tax.js";
                 var x = document.getElementsByTagName('script')[0];
                 x.parentNode.insertBefore(s, x);
                 &gt;/script&lt;
            &gt;/head&lt;



          </div>
        </div>
      </div>
    </div>
  </div>

  



<!-- https://polaris.shopify.com/components/actions/button#all-examples -->
<button class="Polaris-Button">Example button</button>
  
  
</body>
</html>
