<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link
    rel="stylesheet"
    href="https://unpkg.com/@shopify/polaris@4.13.1/styles.min.css"
  />
</head>
<body>
  <p><%= name %></p>

  <div id="app"></div>

  <script>
    import enTranslations from '@shopify/polaris/locales/en.json';
    import {AppProvider, Page, Card, Button} from '@shopify/polaris';

    ReactDOM.render(
      <AppProvider i18n={enTranslations}>
      <Page title="Example app">
        <Card sectioned>
        <Button onClick={() => alert('Button clicked!')}>Example button</Button>
        </Card>
      </Page>
    </AppProvider>,
    document.querySelector('#app'),
   );

  </script>



</body>
</html>